# m h  dom mon dow   command
0 22 * * *  DISPLAY=:0 xset dpms force off
0 23 * * *  DISPLAY=:0 xset dpms force off
0 0  * * *  DISPLAY=:0 xset dpms force off
0 1  * * *  DISPLAY=:0 xset dpms force off
0 6  * * *  DISPLAY=:0 xset dpms force on

